<h2><%= page_title %></h2>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= t('errorexistsmsg') %></h4>
      <ul class="list-unstyled">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('users.username') %><br />
    <%= f.text_field :username%>
  </div>
  <div class="field">
    <%= f.label t('users.oganization') %><br />
    <%= f.text_field :oganization%>
  </div>
  <div class="field">
    <%= f.label t('users.title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t('users.introduction') %><br />
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    <%= f.label t('users.country') %><br />
    <%= f.country_select :country, priority_countries: ["JP", "US"], priority_countries_divider: "----------" %>
  </div>
  <% if @user.provider == 'facebook' || @user.has_social_profile?('facebook') %>
  <div class="field">
    <%= f.label t('users.linked_facebook') %><br />
    <% if @user.provider == 'facebook' %>
      <%= f.text_field :uid, readonly: true, disabled: true %><br/>
    <%else %>
      <%= f.text_field :uid, value:@user.get_social_profile_uid('facebook'), readonly: true, disabled: true %><br/>
    <% end %>
    <%#= f.check_box :auto_post_facebook %>
    <%#= f.label :auto_post_twitter, t('users.auto_post_facebook') %>

  </div>
  <% end %>
  <% if @user.provider == 'twitter' || @user.has_social_profile?('twitter') %>
  <div class="field">
    <%= f.label  t('users.linked_twitter') %><br />
    <% if @user.provider == 'twitter' %>
      <%= f.text_field :uid, readonly: true, disabled: true %><br/>
    <%else %>
      <%= f.text_field :uid, value:@user.get_social_profile_uid('twitter'), readonly: true, disabled: true %><br/>
    <% end %>
    <%= f.check_box :auto_post_twitter %>
    <%= f.label :auto_post_twitter, t('users.auto_post_twitter') %>
    </div>
  <% end %>

<% if @user.provider != 'twitter' && !@user.has_social_profile?('twitter') %>
<hr/><%= link_to t('users.action_linked_twitter'), user_twitter_omniauth_authorize_path, class: "btn btn-social btn-twitter" %>
<% end %>
<% if @user.provider != 'facebook' && !@user.has_social_profile?('facebook')  %>
<hr/><%= link_to t('users.action_linked_facebook'), user_facebook_omniauth_authorize_path, class: "btn btn-social btn-facebook" %>
<% end %>
<hr/>
<%= f.submit "Update" %>
</div>
<% end %>

<%= link_to "Back", :back %>
