<h2><%= page_title %></h2>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<p><%= image_tag @user.image.sub(/(http:|https:)/, '') %></p>
<p><%= t 'users.username' %>: <%= @user.username %></p> <% if current_user && @user.id == current_user.id %><%= link_to '編集', edit_user_path(@user), class: 'btn btn-info' %> <% end %>
<p><%= t 'users.oganization' %>: <%= @user.oganization %></p>
<p><%= t 'users.title' %>: <%= @user.title %></p>
<p><%= t 'users.introduction' %>: <%= simple_format(@user.introduction) %></p>
<p><%= t 'users.country' %>: <%= country_name(@user.country) %></p>
<p><%= t 'users.booklikes' %>: <%= @booklikescount %></p>
<% if !@books.nil? %>
  <ul>
  <%  @books.each do |book| %>
  <li>
    <%= link_to(books_show_path(book.article_id)) do %>
      <%= book.article.title %>
      <% if !book.article.ogpimg.nil? %>
        <%= image_tag(book.article.ogpimg.sub(/(http:|https:)/, '')) %>
      <% else %>
      <% end %>
      <br/>
      <%= book.article.name %>
      <%= book.article.date %><br/>
      <%= book.article.category.description %>
      <%= book.article.area.description %>
    <% end %>
    <% if current_user %><%= link_to t('books.bookbtn'), books_comment_path(book.article_id), class: 'btn btn-info' %><% end %>
    </li>
  <% end %>
  </ul>
  <%= paginate @books %>
<% end %>

