<h2><%= page_title %></h2>
<% if !@articles.nil? %>
  <ul>
  <%  @articles.each do |article| %>
  <li>
    <%= link_to(books_show_path(article.id)) do %>
      <%= article.title %>
      <% if !article.ogpimg.nil? %>
        <%= image_tag(article.ogpimg.sub(/(http:|https:)/, ''), :width => '150px' ) %>
      <% else %>
      <% end %>
      <br/>
      <%= article.name %>
      <%= article.date %><br/>
      <%= article.category.description %>
      <%= article.area.description %>
    <% end %>
    <% if current_user %><%= link_to t('books.bookbtn'), books_comment_path(article.id), class: 'btn btn-info' %><% end %>
    </li>
    <% end %>
    </ul>
    <%= paginate @articles %>
<% end %>

