<h2><%= page_title %></h2>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<p><%= t 'articles.title' %>: <%= @article.title %></p>
<p><%= t 'articles.name' %>: <%= link_to @article.name, @article.url, {:target => "_blank"} %></p>
<p><%= t 'articles.date' %>: <%= @article.date %></p>
<p><%= t 'articles.description' %>: <%= @article.description %></p>
<p><%= t 'articles.category' %>: <%= @article.category.description %></p>
<p><%= t 'articles.area' %>: <%= @article.area.description %></p>
<% if current_user %><%= link_to t('books.bookbtn'), books_comment_path(@article.id), class: 'btn btn-default' %><% end %>
<% if !@articlebooks.nil? %>
<ul>
  <%  @articlebooks.each do |articlebook| %>
    <li id="like-<%= articlebook.id %>" data-like-id="<%= articlebook.id %>">
    <%= link_to(user_path(articlebook.user.id)) do %>
      <%= image_tag articlebook.user.image%>
      <p><%= articlebook.user.username %></p>
    <% end %>
    <p><%= articlebook.user.oganization %></p>
    <p><%= articlebook.user.title %></p>
    <p><%= simple_format(articlebook.comment) %></p>
    <% if user_signed_in? %><span class="like"><%= render "likes/like", book: articlebook %></span><% end %>
    </li>
  <% end %>
</ul>
<% end %>